<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/>
<!--    <bean id="sum" class="calculations.model.calculator.SumCalculator">-->
<!--        <description>Sum operation</description>-->
<!--    </bean>-->

<!--    <bean id="avg" class="calculations.model.calculator.AvgCalculator">-->
<!--        <description>Sum operation</description>-->
<!--    </bean>-->

<!--    <bean id="max" class="calculations.model.calculator.MaxCalculator">-->
<!--        <description>Sum operation</description>-->
<!--    </bean>-->

<!--    <bean id="min" class="calculations.model.calculator.MinCalculator">-->
<!--        <description>Sum operation</description>-->
<!--    </bean>-->

    <context:component-scan base-package="calculations.controller"/>
    <context:component-scan base-package="calculations.model.calculator"/>
<!--    <context:component-scan base-package="calculations.config"/>-->
    <context:component-scan base-package="calculations"/>
</beans>