.submit-button:hover {
    background: #457b9d;
    color: white;
    border-color: #1d3557;
}

.menu-label:hover {
    color: #83c5be;
}

input[type="radio"]:checked + .menu-label{
    color: #d0512d;
}