h1,
.header-caption,
.calculation-header,
.footer-header{
    text-align: center;
    text-transform: uppercase;
}

h1{
    font-weight: bolder;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 5px;
    word-spacing: 10px;
}

h2,.header-caption{
    letter-spacing: 2px;
}

.header-caption {
    font-weight: lighter;
    font-size: 28px;
    line-height: 35px;
}

h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
}

.calculation-header,
.footer-header{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

.menu-label{
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 35px;
}

.footer-header {
    font-size: 20px;
    line-height: 24px;
    margin: 2px;
}

.footer-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    display: inline-block;
    width: 260px;
    text-indent: 8px;
}

.rights-reserve {
    text-align: center;
    font-size: 16px;
}

.inline-ref {
    font-style: italic;
    color: #d0512d;
    text-decoration: underline;
}