@import "dropstyles.css";
@import "animation.css";
@import "fonts.css";

body{
    padding: 5px;
    color:#1d3557;
}

.page-content {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px 10px;
}

.menu-label{
    font-size: 28px;
    user-select: none;
    letter-spacing: 1px;
    line-height: 35px;
    cursor: pointer;
    margin: 2px 5px;
    display: block;
}

.calculation-navigation>.menu-input{
    visibility: collapse;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    width: 80%;
    margin-left:auto;
    margin-right:auto;

    padding: 10px;
    background: #A8DADC;
    border-radius: 20px;
    min-width: 1024px;
}

.calculation-navigation {
    border: 3px #f1faee solid;
    border-radius: 10px;
    padding: 5px;
    justify-content: flex-end;
}

.hello {
    justify-content: start;
}

.title-section {
    margin: 5px 20px;
}

.data-input,
.operation-result,
.submit-button {
    border: 2px #457b9d solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 2px;
    margin: 10px 20px;
}

.data-input,
.operation-result,
h3{
    width: 250px;
}

.submit-button {
    background: white;
    width: 80px;
    border-radius: 10px;
}

.submit-button:hover{
    background: #457b9d;
    color: white;
    border-color: #1d3557;
}

