@import "dropstyles.css";
@import "pagebuildingblocks.css";
@import "tablestyles.css";
@import "fonts.css";

.menu-label {
    cursor: pointer;
    margin: 2px 5px;
    display: block;
    user-select: none;
}

.calculation-navigation > .menu-input {
    visibility: collapse;
}

.calculation-navigation {
    border: 3px #006d77 solid;
    border-radius: 10px;
    padding: 5px;
    justify-content: flex-end;
}

.hello {
    justify-content: start;
}

.title-section {
    margin: 5px 20px;
}

.data-input,
.operation-result,
.submit-button {
    border: 2px #457b9d solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 2px;
    margin: 10px 20px;
}

.data-input,
.operation-result,
h3 {
    width: 250px;
}

.submit-button {
    background: white;
    width: 80px;
    border-radius: 10px;
}

.calculation-zone {
    background: #EDF6F9;
    flex: 0 0 auto;
}

.history-zone {
    background: white;
    flex: 1 0 auto;
}

.history-table-header {
    display: inline-block;
}

.history-table-filter-menu {
    cursor: pointer;
    margin: 2px 2px 2px 6px;
}

.horizontal-line {
    display: block;
    margin: 10px 0;
}

.contact-icon {
    height: 24px;
    width: 24px;
    margin: 2px 6px;
}

.footer-info {
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-block {
    margin: 0 20px;

}